version: "3.9"

services:
  api:
    build:
      context: .
      target: api
    ports:
      - "8080:5000"
    depends_on:
      - db
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      CONNECTIONSTRINGS:POSTGRES: "Server=db;Port=5432;Database=cryptobank;User Id=postgres;Password=fh6Dj01s"

  db:
    image: postgres:alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: "fh6Dj01s"
      POSTGRES_USER: "postgres"
      POSTGRES_DB: "cryptobank"

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    environment:
      REDIS_PASSWORD: "gj3rUcvs2"